Mako>=0.6.0
SQLAlchemy>=0.7.4
Routes>=1.12.3
coverage>=3.5.1
fudge>=1.0.3
nose>=1.1.2
python-daemon>=1.6
simplejson>=2.5.0
https://github.com/marcelnicolay/simplexml/zipball/0.1.4
tornado>=2.3
unittest2>=0.5.1
python-memcached>=1.48
